/* Based on publicDemo.html */
.navbar {
  background: linear-gradient(135deg, var(--secondary-light) 0%, var(--primary-light) 100%);
  color: var(--text-light);
  padding: 1rem 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  // Create a gradient background and size it to be twice the width for animation
  background: linear-gradient(
    90deg,
    var(--secondary-light),
    var(--text-primary),
    var(--primary-dark),
  );
  background-size: 200% auto;
  // Clip the background to the text
  -webkit-background-clip: text;
  background-clip: text;
  // Make the text color transparent to show the gradient
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: var(--text-light);
  text-decoration: none;
  transition: opacity 0.3s;
  cursor: pointer;
}

.nav-links a:hover {
  opacity: 0.8;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.menu-toggle {
  display: none; /* Hidden on desktop */
  cursor: pointer;
}

.hamburger {
  span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show hamburger on mobile */
  }

  .nav-menu {
    position: fixed;
    top: 60px;
    left: -100%; /* Start off-screen */
    width: 100%;
    gap: 1rem;
    background: linear-gradient(135deg, var(--secondary-light) 0%, var(--primary-light) 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease-in-out;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .nav-menu.show-menu {
    left: 0; /* Slide in */
  }

  .nav-links {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
  .nav-links li {
    border-bottom: 1px solid var(--background-light);
  }
  .hide-on-mobile{
    display: none;
  }
}

// Keyframe animation for the shine effect
@keyframes shine {
  to {
    background-position: -200% center;
  }
}
